<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <h2>
                <span>&copy Hotelbooking.com</span>
            </h2>
        <span flex></span>
        <md-fab-speed-dial ng-hide="demo.hidden" md-direction="left" md-open="demo.isOpen" class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full': demo.hover }" ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                    <md-tooltip md-direction="top" md-visible="tooltipVisible">Menu</md-tooltip>
                    <md-icon md-svg-src="images/menu.svg" aria-label="menu"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <div ng-repeat="item in demo.items">
                    <md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini" ng-click="demo.openDialog($event, item)">
                        <md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible" md-autohide="false">
                            {{item.name}}
                        </md-tooltip>
                        <md-icon md-svg-src="{{item.icon}}" aria-label="{{item.name}}"></md-icon>
                    </md-button>
                </div>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
</md-toolbar>
