<md-toolbar class="md-whiteframe-z3">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ui-sref="home" aria-label="Settings">
            <md-icon md-svg-icon="images/menu.svg"></md-icon>
        </md-button>
        <h2>
                <span>Hotel Booking</span>
            </h2>
        <span flex></span>
        <md-button class="md-warn" ui-sref="home">Home</md-button>
        <md-button class="md-warn" ui-sref="search({nights :4, location:chennai, travellers:6})">Search</md-button>
    </div>
</md-toolbar>
